<div class="border-b mb-4 mt-2 pb-4 border-stone-300">
    <button class="flex p-0.5 hover:bg-stone-200 rounded transition-colors relative gap-2 w-full items-center">
        <img src="https://api.dicebear.com/9.x/notionists/svg"
            alt="Avatar"
            class="size-8 rounded shrink-0 bg-violet-500 shadow"
        />
        <div class="text-start">
            <div class="text-sm font-semibold block">Tom is Loading</div>
            <div class="text-xs block text-stone-500">john&#64;example.com</div>
        </div>
        <ng-icon name="featherChevronDown" class="absolute right-2 top-1/2 translate-y-[calc(-50%+4px)] text-xs"></ng-icon>
        <ng-icon name="featherChevronUp" class="absolute right-2 top-1/2 translate-y-[calc(-50%-4px)] text-xs"></ng-icon>
    </button>
</div>