<div class="space-y-1">
    <app-side-menu-item
        [ititle]="'Dashboard'"
        [route]="'/users'"
        [selected]="true">
    </app-side-menu-item>
    <app-side-menu-item
        [icon]="'featherUsers'"
        [ititle]="'Team'"
        [route]="'/users'">
    </app-side-menu-item>
    <app-side-menu-item
        [icon]="'featherPaperclip'"
        [ititle]="'Invoices'"
        [route]="'/invoices'">
    </app-side-menu-item>
    <app-side-menu-item
        [icon]="'featherLink'"
        [ititle]="'Integrations'"
        [route]="'/integrations'">
    </app-side-menu-item>
    <app-side-menu-item
        [icon]="'featherDollarSign'"
        [ititle]="'Finance'"
        [route]="'/finance'">
    </app-side-menu-item>
    <app-side-menu-item
        [icon]="'featherLogIn'"
        [ititle]="'Login'"
        [route]="'/auth/login'">
    </app-side-menu-item>
    <app-side-menu-item
        [icon]="'featherLogIn'"
        [ititle]="'Signup'"
        [route]="'/auth/signup'">
    </app-side-menu-item>
</div>