<form [formGroup]="signupForm" (ngSubmit)="handleSubmit()">
    <div class="mb-4">
        <label for="firstname" class="block text-sm font-medium text-gray-700">First Name</label>
        <input
            type="text"
            id="firstname"
            formControlName="firstname"
            class="mt-1 p-2 w-full border rounded-lg border border-stone-300 text-sm"
            placeholder="Enter your First Name" />	

    </div>
    <div class="mb-4">
        <label for="lastname" class="block text-sm font-medium text-gray-700">Last name</label>
        <input
            type="text"
            id="lastname"
            formControlName="lastname"
            class="mt-1 p-2 w-full border rounded-lg border border-stone-300 text-sm"
            placeholder="Enter your Last Name" />	

    </div>
    <div class="mb-4">
        <label for="email" class="block text-sm font-medium text-gray-700">E-mail</label>
        <input
            type="email"
            id="email"
            formControlName="email"
            class="mt-1 p-2 w-full border rounded-lg border border-stone-300 text-sm"
            placeholder="Enter your E-mail" />	

    </div>
    <div class="mb-4">
        <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
        <input
            type="password"
            id="password"
            formControlName="password"
            class="mt-1 p-2 w-full border rounded-lg border border-stone-300 text-sm"
            placeholder="Enter your password" />
    </div>
    <div class="mb-4">
        <label for="confirmpassword" class="block text-sm font-medium text-gray-700">Confirm Password</label>
        <input
            type="password"
            id="confirmpassword"
            formControlName="confirmpassword"
            class="mt-1 p-2 w-full border rounded-lg border border-stone-300 text-sm"
            placeholder="Repeat password" />
    </div>
    <div class="border-t border-stone-300 pt-2 mb-4">
        <div class="flex justify-center">
            <button
                type="submit"
                [disabled]="!signupForm.valid"
                class="bg-blue-500 text-white px-2 py-2 rounded-lg text-sm w-full">
                Sign-Up
            </button>
            
        </div>
    </div>
</form>