<div class="flex justify-center mt-42">
    <div class="pb-4 w-96">
        <img src="public/icons8-logo-480.svg" alt="logo" class="flex justify-center w-16 h-16">
        <!-- <a target="_blank" href="https://icons8.com/icon/eoaIALIxUjoV/hitfilm-pro">Logo</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
        <div class="bg-white rounded-lg shadow  pt-2">
            <div class="border-b px-4 mb-4 mt-2 pb-2 pt-2 border-stone-200">
            <router-outlet></router-outlet>
        </div>
        </div>
    </div>
</div>