<div class="px-4 grid gap-3 grid-cols-12">
    <div class="col-span-4 p-4 rounded border border-stone-300">
        <app-stats-card
            [ctitle]="'Total Revenue'"
            [cvalue]="'$120,054.24'"
            [cpillText]="'+2.75%'"
            [ctrend]="'up'"
            [cperiod]="'From Jan 1st - Jul 31st'"
        />
    </div>
    <div class="col-span-4 p-4 rounded border border-stone-300">
        <app-stats-card
            [ctitle]="'Average Order'"
            [cvalue]="'$27.97'"
            [cpillText]="'1.01%'"
            [ctrend]="'down'"
            [cperiod]="'From Jan 1st - Jul 31st'"
        />
    </div>
    <div class="col-span-4 p-4 rounded border border-stone-300">
        <app-stats-card
            [ctitle]="'Trailing Year'"
            [cvalue]="'$278,054.24'"
            [cpillText]="'60.75%'"
            [ctrend]="'up'"
            [cperiod]="'Previous 365 days'"
        />
    </div>
    <div class="col-span-8 overflow-hidden rounded border border-stone-300">
        <div class="p-4">
            <h3 class="flex items-center gap-1.5 font-medium">
                <ng-icon name="featherUser"></ng-icon> Activity
            </h3>
        </div>

        <div class="h-auto px-4">
            <app-activity-graph />
        </div>
    </div>
    
    <div class="col-span-4 overflow-hidden rounded border border-stone-300">
        <div class="p-4">
            <h3 class="flex items-center gap-1.5 font-medium">
                <ng-icon name="featherEye"></ng-icon> Usage
            </h3>
        </div>

        <div class="h-64 px-4">
            <app-usage-graph />
        </div>
    </div>
</div>