<div class="border-b px-4 mb-4 mt-2 pb-2 pt-2 border-stone-200">
    <div class="flex items-center justify-between p-0.5">
        <div>
            <span class="text-sm font-bold block"> Good Morning, Tom! </span>
            <span class="text-xs block text-stone-500"> Saturday, Apr 26th 2025 </span>
        </div>

        <button class="flex text-sm items-center gap-2 bg-stone-100 transition-colors hover:bg-violet-100 hover:text-violet-700 px-3 py-1.5 rounded">
            <ng-icon name="featherCalendar"></ng-icon>
            <span>Prev 6 Months</span>
        </button>
    </div>
</div>
